/* Start force display class properties on new lines */
html.writer-html4 .rst-content dl:not(.docutils) .property,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .property {
    display: inline;
}
/* end force display class properties on new lines */

.bg-transparent {
    background-color: transparent !important;
}

/* New Simplified Version 6 CSS */
/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
    /* removed font- based rules */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


html.writer-html4 .rst-content dl:not(.docutils) .property,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .property {
    display: inline;
}

a.reference.internal>code>span::after {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\f0c1";
    /* margin-right: 5px; */
    margin-left: 3px;
}

a.reference.external:hover::after {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\f08e";
    /* margin-right: 5px; */
    margin-left: 3px;
}

.lo-event a.reference.internal span.std-ref,
.lo-event a.reference.internal span.doc {
    /* color: chartreuse; */
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    color: #404040;
    white-space: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
    padding: 2px 5px;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
}

.lo-event a.reference.internal span.std-ref::before,
.lo-event a.reference.internal span.doc::before {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\e0b7";
    margin-right: 5px;
}

/* Color for code in an admonition such as a Note or See Also */
.rst-content .admonition.seealso code,
.rst-content .admonition.note code {
    background: #d2e8f9;
}

.rst-content .admonition.attention code {
    background: #f0b37e;
}

.rst-content .admonition code.xref,
.rst-content .admonition tt.xref,
a .rst-content .admonition code,
a .rst-content .admonition tt {
    color: #05548e;
}

/* End Color for code */

/* summary-example is '.. collapse:: example' directive */
/* Add a bottom margin only when collapsed */

/* Start Summary Example for .. collapse Example sections */

.summary-example,
.rst-collapse {
    padding: 3px;
}

.summary-example:not([open]),
.rst-collapse:not([open]) {
    margin-bottom: 24px;
    cursor: pointer;
}

.summary-example[open],
.rst-collapse[open] {
    margin-bottom: 24px;
    background-color: #f0f5ff;
    ;
}

/* Set a code icon after Example word. */
.summary-example>summary::after {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\f121";
    margin-left: 5px;
}

/* End Summary Example for .. collapse Example sections */
/* start source link files. These are for links pointing code generated by sphinx.ext.viewcode */

.src-link a {
    font-family: SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        Courier,
        monospace;
}

.src-link a::after {
    /* using style CSS custom property */
    font: var(--fa-font-solid);
    content: "\f1c9";
    /* margin-right: 5px; */
    margin-left: 3px;
}

/* end source link files */
/* start unordered list */
/* unordered lists */

ul.ul-list,
.ul-list li
{
    list-style: disc outside;
}

ul.ul-list ul,
.ul-list ul li
{
    list-style: square outside;
}

ul.ul-list ul UL,
.ul-list ul UL li
{
    list-style: circle outside;
}

ul.ul-list ul UL UL,
.ul-list ul UL UL li
{
    list-style: disc outside;
}

ul.ul-list ul UL UL UL,
.ul-list ul UL UL UL li
{
    list-style: square outside;
}

ul.ul-list ul UL UL UL UL,
.ul-list ul UL UL UL UL li
{
    list-style: circle outside;
}

ul.src-link,
ul.ul-list {
    list-style: disc outside;
    margin: 0 0 24px;
    padding: 0;
}

.admonition ul.src-link,
.admonition ul.ul-list {
    margin-bottom: 0;
}

.src-link li,
.ul-list li {
    line-height: 24px;
    /* list-style-position: outside;
    list-style-type: disc; */
    margin: 0;
    margin-left: 24px;
    padding: 0;
}

.src-link li>p,
.ul-list li>p {
    line-height: 24px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.src-link blockquote,
.ul-list blockquote
{
    margin: 0px;
}

/* end start unordered list */

.mono {
    font-family: SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        Courier,
        monospace;
}

/* Figures image are not aligning center */
.align-center img {
    display: block;
    margin: 0 auto;
}

.sphinx-tabs-panel.tab-none:not([hidden]) {
    padding: 1px;
    visibility: hidden;
}


/* Colors in theme_color_roles.txt */
.t-black {
    color: var(--t-color-black);
}

.t-gray {
    color: var(--t-color-gray);
}

.t-silver {
    color: var(--t-color-silver);
}

.t-white {
    color: var(--t-color-white);
}

.t-maroon {
    color: var(--t-color-maroon);
}

.t-red {
    color: var(--t-color-red);
}

.t-magenta {
    color: var(--t-color-megenta);
}

.t-fuchsia {
    color: var(--t-color-fuchsia);
}

.t-pink {
    color: var(--t-color-pink);
}

.t-orange {
    color: var(--t-color-orang);
}

.t-yellow {
    color: var(--t-color-yellow);
}

.t-lime {
    color: (--t-color-lime);
}

.t-green {
    color: var(--t-color-green);
}

.t-olive {
    color: var(--t-color-olive);
}

.t-teal {
    color: var(--t-color-teal);
}

.t-cyan {
    color: var(--t-color-cyan);
}

.t-aqua {
    color: var(--t-color-aqua);
}

.t-blue {
    color: var(--t-color-blue);
}

.t-navy {
    color: var(--t-color-navy);
}

.t-purple {
    color: var(--t-color-purple);
}
.rst-content a {
    color: var(--link-color);
}
.rst-content a:visited {
    color: var(--link-color-visited);
}


.rst-content code.xref,
.rst-content tt.xref,
a .rst-content code,
a .rst-content tt {
    color: var(--link-color);
}


.rst-content code.literal:not(a code),
.rst-content tt.literal:not(a code) {
    color: #050378;
}

.rst-content code,
.rst-content tt,
code {
    border: 1px solid #e7f1f5;
}
/* End Colors in theme_color_roles.txt */

/* Custom theme colors
Thes are colors use with Theme and rst roles.
Look for /roles/theme_color_roles.txt
In other css files such as readthedocs_dark.css
just override the colors listed here.
typically in rst to set a color would be something like:
:t_red:`All this text is in red`
*/
:root {
    --t-color-black: black;
    --t-color-gray: gray;
    --t-color-silver: silver;
    --t-color-white: white;
    --t-color-maroon: maroon;
    --t-color-red: red;
    --t-color-megenta: magenta;
    --t-color-fuchsia: fuchsia;
    --t-color-pink: pink;
    --t-color-orange: orange;
    --t-color-yellow: yellow;
    --t-color-lime: lime;
    --t-color-green: green;
    --t-color-olive: olive;
    --t-color-teal: teal;
    --t-color-cyan: cyan;
    --t-color-aqua: aqua;
    --t-color-blue: blue;
    --t-color-navy: navy;
    --t-color-purple: purple;

    --link-color: #0d0d9b;
    --link-color-visited: #0d0d9b;
}
/* End Custom theme colors */
