html[data-theme='dark'] .highlight .vm {
    color: #605dc9 !important;
}

html[data-theme='dark'] .highlight .gp {
    color: #900 !important;
}

html[data-theme='dark'] .highlight .nf,
.highlight .nc {
    color: #0cff3e !important;
}

html[data-theme="dark"] .highlight .nb {
    color: #2e9d1e !important;
}

html[data-theme='dark'].writer-html4 .rst-content dl:not(.docutils) .descclassname,
html[data-theme='dark'].writer-html4 .rst-content dl:not(.docutils) .descname,
html[data-theme='dark'].writer-html4 .rst-content dl:not(.docutils) .sig-name,
html[data-theme='dark'].writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descclassname,
html[data-theme='dark'].writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descname,
html[data-theme='dark'].writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .sig-name {
    color: #098f0d;
}

html[data-theme='dark'] .highlight .hll {
    background-color: #184836;
}

html[data-theme='dark'] .highlight .nv {
    color: #3a84f9;
}

html[data-theme='dark'] dl.py.class dd dl.py.method dd dl.field-list.simple dd.field-odd ul.simple li p a.reference.internal a:visited {
    color: chartreuse;
}

html[data-theme='dark'] .lo-event a.reference.internal span.std-ref,
 html[data-theme='dark'] .lo-event a.reference.internal span.doc {
    /* color: chartreuse; */
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    color: #cecece;
    white-space: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
    padding: 2px 5px;
    background-color: #2d2d2d;
    border: 1px solid #1c1c1c;
    font-size: 75%;
}


/* Color for code in an admonition such as a Note or See Also */
html[data-theme='dark'] .rst-content .admonition.seealso code,
html[data-theme='dark'] .rst-content .admonition.note code {
     background: #004a7b;
}

html[data-theme='dark'] .rst-content .admonition.attention code {
    background: #803b00;
}

html[data-theme='dark'] .rst-content .admonition code.xref,
html[data-theme='dark'] .rst-content .admonition tt.xref,
html[data-theme='dark'] a .rst-content .admonition code,
html[data-theme='dark'] a .rst-content .admonition tt {
    color: #ffffff;
}

/* End Color for code */

html[data-theme='dark'] .rst-content .invert img {
     transition: all 0.2s ease-in-out;
     -webkit-filter: invert(80%);
    filter: invert(80%);
}
/* Start Summary Example for .. collapse Example sections */

html[data-theme='dark'] .summary-example[open],
html[data-theme='dark'] .rst-collapse[open] {
    background-color: #1c1c1c;
}

/* End Summary Example for .. collapse Example sections */

/* Start Summary Example for .. tabs sections */
html[data-theme='dark'] .sphinx-tabs-panel {
    border: 1px solid #42449f;
    border-top-color: #1c1c1c;
    background: #1c1c1c;
}

html[data-theme='dark'] .sphinx-tabs-tab[aria-selected="true"] {
    border: 1px solid #42449f;
    border-bottom-color: #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    background-color: #1c1c1c;
}

html[data-theme='dark'] [role="tablist"] {
    border-bottom: 1px solid #42449f;
}
/* End Summary Example for .. tabs sections */

/* start sphinx_design extension */
html[data-theme='dark'] {
     /* overides for sphinx_design extension colors */
    --sd-color-primary: #007bff;
    --sd-color-secondary: #6c757d;
    --sd-color-success: #28a745;
    --sd-color-info: #18d2ef;
    --sd-color-warning: #f0b37e;
    --sd-color-danger: #dc3545;
    --sd-color-light: #f8f9fa;
    --sd-color-muted: #6c757d;
    --sd-color-dark: #212529;
    --sd-color-black: black;
    --sd-color-white: white;
    --sd-color-primary-highlight: #0069d9;
    --sd-color-secondary-highlight: #5c636a;
    --sd-color-success-highlight: #228e3b;
    --sd-color-info-highlight: #148a9c;
    --sd-color-warning-highlight: #cc986b;
    --sd-color-danger-highlight: #bb2d3b;
    --sd-color-light-highlight: #d3d4d5;
    --sd-color-muted-highlight: #5c636a;
    --sd-color-dark-highlight: #1c1f23;
    --sd-color-black-highlight: black;
    --sd-color-white-highlight: #d9d9d9;
    --sd-color-primary-text: #fff;
    --sd-color-secondary-text: #fff;
    --sd-color-success-text: #fff;
    --sd-color-info-text: #fff;
    --sd-color-warning-text: #212529;
    --sd-color-danger-text: #fff;
    --sd-color-light-text: #212529;
    --sd-color-muted-text: #fff;
    --sd-color-dark-text: #fff;
    --sd-color-black-text: #fff;
    --sd-color-white-text: #212529;
    --sd-color-shadow: rgba(0, 0, 0, 0.15);
    --sd-color-card-border: rgba(0, 0, 0, 0.125);
    --sd-color-card-border-hover: hsla(231, 99%, 66%, 1);
    --sd-color-card-background: transparent;
    --sd-color-card-text: inherit;
    --sd-color-card-header: transparent;
    --sd-color-card-footer: transparent;
    --sd-color-tabs-label-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-hover: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-inactive: hsl(0, 0%, 66%);
    --sd-color-tabs-underline-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-underline-hover: rgba(178, 206, 245, 0.62);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: rgb(222, 222, 222);
    --sd-color-tabs-underline: rgb(222, 222, 222);
    --sd-fontsize-tabs-label: 1rem
}

/* end sphinx_design extension */