ooouno
sphinx==6.2.1
sphinx_design==0.4.1
sphinx-autodoc-typehints==1.23.0
sphinx-rtd-dark-mode==1.2.4
sphinx-substitution-extensions==2022.2.16
sphinx-tabs==3.4.1
sphinx-toolbox==3.4.0
sphinxcontrib-spelling==8.0.0
typing_extensions==4.5.0
