ooouno
api_unostubs>=0.2.0
sphinx==6.2.1
sphinx_design==0.5.0
sphinx-autodoc-typehints==1.19.4
sphinx-rtd-dark-mode==1.2.4
sphinx-substitution-extensions==2022.2.16
sphinx-tabs==3.4.1
sphinx-toolbox==3.2.0
sphinxcontrib-spelling==8.0.0
sphinx-copybutton==0.5.2
typing_extensions>=4.9.0
